pyrofork
psutil
aiofiles
pillow
devgagantools
tgcrypto
pyromod
opencv-python-headless
requests
motor
pytz
flask
aiohttp
telethon
aiojobs
werkzeug==2.2.2
apscheduler 
telethon-tgcrypto
mutagen
yt-dlp
speedtest-cli
aiocron==2.1
base58check==1.0.2
dnspython==2.7.0
gitdb==4.0.12
GitPython==3.1.44
pykeyboard==0.1.5
unzip-http==0.6
